<%- include('template/cabecera.ejs',{tituloWeb: 'Error 404'}) %>

    <h2><%= titulo %></h2>
    <h2><%= descripcion %></h2>
    <footer>
      <!-- place footer here -->
    </footer>
  </body>
</html>