<footer class="text-center text-lg-start text bg-dark">
    <div class="container d-flex justify-content-center py-5 ">
        <a href="https://www.instagram.com/juanma0089/" target="_blank">
            <button type="button" class="btn btn-outline-secondary btn-lg btn-floating mx-2 iconoFooter">
                <i class="bi bi-instagram"></i>
            </button>
        </a>
        <a href="https://www.linkedin.com/in/juan-manuel-romalde-mar%C3%ADn-83a6aa17a/" target="_blank">
            <button type="button" class="btn btn-outline-secondary btn-lg btn-floating mx-2 iconoFooter">
                <i class="bi bi-linkedin"></i>
            </button>
        </a>
        <a href="https://github.com/juanma0089" target="_blank">
            <button type="button" class="btn btn-outline-secondary btn-lg btn-floating mx-2 iconoFooter">
                <i class="bi bi-github"></i>
            </button>
        </a>
    </div>
    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.37);">
        © 2023 Copyright:
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
            <img alt="Licencia de Creative Commons" class="img-fluid " style="border-width:0 "
                src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
        </a>
    </div>
    <!-- Copyright -->
</footer>
</body>

</html>